@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tablets-container {
    @apply flex items-center md:justify-end flex-wrap gap-2 md:gap-4 my-4 md:my-0 border-t-[1px] md:border-t-0 pt-4 md:pt-0 md:ml-4 border-grayish-cyan-medium;
  }
  .tablets {
    @apply text-cyan-dark bg-grayish-cyan-light font-bold pt-1.5 pb-1 px-2.5 rounded-md cursor-pointer transition-all hover:bg-cyan-dark hover:text-white;
  }
  .job-card {
    @apply flex flex-col md:flex-row justify-between items-start md:items-center bg-white px-4 pb-8 md:p-8 rounded-md shadow-xl shadow-cyan-dark/10;
  }
  .job-featured {
    @apply border-l-[6px] border-l-cyan-dark;
  }
  .filters {
    @apply mx-2 text-cyan-dark bg-grayish-cyan-light rounded-md cursor-pointer overflow-hidden;
  }
  .key-span {
    @apply p-2.5 relative -top-1 font-bold;
  }
  .remove-button {
    @apply w-8 h-8 bg-cyan-dark p-2 transition-all hover:bg-grayish-cyan-dark;
  }
  .job-detail-box {
    @apply flex flex-col md:flex-row items-start md:items-center space-x-0 md:space-x-6 min-w-max;
  }
  .image-container {
    @apply w-16 h-16 md:w-[88px] md:h-[88px] relative -top-8 md:top-0 rounded-full overflow-hidden;
  }
  .new-tag {
    @apply bg-cyan-dark text-white text-xs uppercase p-2 pb-1.5 rounded-full;
  }
  .featured-tag {
    @apply bg-grayish-cyan-dark text-white text-xs uppercase p-2 pb-1.5 rounded-full;
  }
  .job-name {
    @apply font-bold text-[21px] hover:text-cyan-dark transition-all cursor-pointer;
  }
}

.hide-element {
  display: none;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: rgb(209 213 219);
  }
  100% {
    background-color: rgb(243 244 246);
  }
}
